
*{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  word-spacing: 3px;
  line-height: 25px;
}
.App{
  padding: 10px 80px 10px 80px;
}
.App>h1:first-child{
  text-align: center;
  font-size: 40px;
  
}
address{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

address>div:last-child{
  text-align: right;
}

article{
  text-align: justify;
  line-height: 30px;
  margin-bottom: 20px;
}